body {
	background-color: #000000;
	padding: 0px;
	margin: 0px;
	font-size: 90%;
	font-family: 'Hack-Regular' !important;
}

@font-face {
  font-family: 'Hack-Regular';
  src: url('/font/Hack-Regular.ttf')  format('truetype')
}