body {
	background-color: #000000;
	padding: 0px;
	margin: 0px;
	font-size: 90%;
}

main {
	height: 700px;
	margin-top: 10%;
	margin-left: 15%;
	margin-right: 15%;
	background-color: white;
	border: 3px double black;
}

footer {
	margin-top: 150px;
	text-align: right;
}

/* title */
h1 {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
}

/* links */
a {
	text-decoration: none;
	text-align: center;
	padding: 10px 21px;
}

/* list */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
	display: inline-block;
}

.row [class*='col-']:not(.hid) {
  background-color: #ffeeee;
  background-clip: content-box;
  min-height: 20px;
}     

#termDiv1 table {
	/*background-image: url("http://localhost:8080/images/cyber_security.jpg");
	background-repeat: round;*/
}
