.term {
	font-family: 'Hack-Regular';
	font-size: 13px;
	color: #33d011;
}

.termReverse {
	color: #111111;
	background: #33d011;
}

#termDiv1 table {
	width: 609px;
	background-color: black;
	border: 2px solid black;
}
