body {
	background-color: black;
	font-size: 90%;
}

main {
	height: 700px;
	background-color: white;
}

/* title */
h1 {
}

/* links */
a {
	text-decoration: none;
	text-align: center;
	padding: 10px 21px;
}

/* list */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
	display: inline-block;
}
