a#normal {
	color: white;
	background-color: #0099ff;
}

a#develop {
	color: #00ff55;
	background-color: black; 
}

a#normal:hover {
	border: 2px solid #4db8ff;
	text-decoration: none;
}	

a#develop:hover {
	border: 2px solid #00ff55;
	text-decoration: none;
}
